body {
    background-color: #140f1c;
    color: white;
  
  }

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .card {
    color: white;
    background: rgb(32, 32, 36);
    width: 100%;
    max-width: 600px;
  }

  .card-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  /* Form styles */
  .form-group {
    margin-bottom: 20px;
  }

  .input-group-text {
    background-color: #6B44C2;
    color: white;
  }

  .password-toggle {
    cursor: pointer;
  }

  /* Confirm button styles */
  .btn-primary {
    background-color: #6B44C2;
    border-color: #6B44C2;
  }

  .btn-primary:disabled {
    background-color: #6b44c2;
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  /* Table and text styles */
  .table {
    background: rgb(32, 32, 36);
    color: white;
  }
  
  .table th, .table td {
    color: white;
  }

  /* Novos estilos para alinhar botões verticalmente */
  .btn-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  
  }
.btn-cell button {
  margin-right: 5px;
  width: 80px;
}
.dropdown-toggle::after {
      display: none;
  }
.modal-content{
  background: rgb(32, 32, 36);
  color: white;
}

.modal {
  z-index: 1050;
  align-items: center;
  justify-content: center; /* Adjust as needed */
}